section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section > div {
  height: 300px;
  width: 300px;
}

section > div > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 1rem;
}

table {
  border-radius: 5px;
  width: 350px;
}

tbody > tr > td:last-child {
  text-align: end;
}

td {
  font-size: 1rem;
}
