nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* height: 15vh; */
  padding: 20px;
  gap: 1rem;
}

nav > div {
  display: flex;
  gap: 1rem;
}

#options {
  position: relative;
}

#options > ul {
  background-color: rgb(128, 128, 128);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  color: white;
  max-height: 300px;
  overflow-y: scroll;
}

#options > ul > li {
  border: 1px solid black;
}

#options > ul > li > button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: white;
  border: 0;
  padding: 8px 20px;
  cursor: pointer;
}

/*input[type="text"]{
  border-radius: 1rem;
  padding: 10px;
}*/

.inputEspecific{
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 10px;
  border-right: none ;
  border-width: 1px;
}

.botonEspecific{
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 10px;
  border-left: none;
  border-width: 1px;
}
.botonPika{
  border-radius: 1rem;
  padding: 10px;
  background-color: rgb(255, 255, 32);
}

.botonChari{
  border-radius: 1rem;
  padding: 10px;
  background-color: rgb(240, 176, 0);
}